# Terraform local state & cache
**/.terraform/
.terraform.lock.hcl

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform plan files
*.tfplan

# Crash logs
crash.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config files
.terraformrc
terraform.rc
